CalculatorConsumption_OSB_project/CalculatorConsumption/CalculatorWS.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions targetNamespace="http://calculator.me.org/" name="CalculatorWS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calculator.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://calculator.me.org/" schemaLocation="XMLSchema_-1140609654.xsd"/>
</xsd:schema>
</types>
<message name="addition">
<part name="parameters" element="tns:addition"/>
</message>
<message name="additionResponse">
<part name="parameters" element="tns:additionResponse"/>
</message>
<message name="product">
<part name="parameters" element="tns:product"/>
</message>
<message name="productResponse">
<part name="parameters" element="tns:productResponse"/>
</message>
<message name="division">
<part name="parameters" element="tns:division"/>
</message>
<message name="divisionResponse">
<part name="parameters" element="tns:divisionResponse"/>
</message>
<message name="substraction">
<part name="parameters" element="tns:substraction"/>
</message>
<message name="substractionResponse">
<part name="parameters" element="tns:substractionResponse"/>
</message>
<portType name="CalculatorWS">
<operation name="addition">
<input message="tns:addition"/>
<output message="tns:additionResponse"/>
</operation>
<operation name="product">
<input message="tns:product"/>
<output message="tns:productResponse"/>
</operation>
<operation name="division">
<input message="tns:division"/>
<output message="tns:divisionResponse"/>
</operation>
<operation name="substraction">
<input message="tns:substraction"/>
<output message="tns:substractionResponse"/>
</operation>
</portType>
<binding name="CalculatorWSPortBinding" type="tns:CalculatorWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="product">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="division">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="substraction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatorWS">
<port name="CalculatorWSPort" binding="tns:CalculatorWSPortBinding">
<soap:address location="http://localhost:8000/Calculator/CalculatorWS"/>
</port>
</service>
</definitions>